*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	height: 100vh;
    font-size: 15px;
    line-height: 25px;
    font-family: sans-serif;
    background:#E7E7E7;
    box-sizing: border-box;
}
.container{
    height: 1500px;
    overflow: hidden;
}
.header{
    width: 100%;
    height: 130px;
    background: linear-gradient(to left, #009ffd, #2480db, #2d62b8, #2e4595, #2a2a72);
    color: white
}
.menu{
    width: 100%;
    height: 50px;
    background: #1a1abd;
}
.logo img{
    width: 83px;
    height: 110px;
    float: left;
    margin-left: 30px;
    margin-top: 5px;
    cursor: pointer ;
}
.schoolname{
    color: white;
    float: left;
    margin-left: 30px;
    margin-top: 25px;
}
.schoolname h1{
    font-weight: bold;
    margin-top: 10px;
    font-size: 35px;
}
.schoolname h3{
    margin-top: 10px;
}
.menu{
    width: 100%;
    overflow: hidden;
}
nav ul{
	list-style: none;
    margin-left: 30px;
}
nav ul li{
display: inline-block; 
line-height: 50px;
cursor: pointer;
}
nav ul li a:hover {
color: yellow;

}
nav ul li a{
	color: white;
    margin: 10px 10px;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
}

.scrollling-notice{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.post-content{
    width: 100%;
    height:900px;
    margin-top: 20px;
    overflow: hidden;
}
/* ----------right sidebar css------------ */
.left_sidebar{
    width: 300px;
    height: 800px;
    float: left;
    margin-left: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 5px gray;
}
.cm_coll{
    width: 100%;
    height: 215px;
    background: white;
    overflow: hidden;
}

.cm_title,.md_title,.right_text_title {
    width: 100%;
    height: 40px;
    background: linear-gradient(to left, #009ffd, #2480db, #2d62b8, #2e4595, #2a2a72);
    color: white
}
.cm_title h4, .md_title h4,.right_text_title h4{
    padding: 5px 15px;
}
.cm_Servies{
    width: 285px;
    height: 160px;
    margin-top: 7px;
    margin-left: 7px;
    background: linear-gradient(to left, #009ffd, #2480db, #2d62b8, #2e4595, #2a2a72);
}

/* ---------middle sidebar section  css------------ */
.Middle_sidebar{
    width: 720px;
    height: 430px;
    float: left;
    margin-left: 30px;
    box-shadow: 0px 5px 5px gray; 
    background: white;
}

.image_slider{
    width: 705px;
    height: 375px;
    margin-top: 7px;
    margin-left: 7px;
    overflow: hidden; 
}
.image_slider img{
    width: 705px;
    height: 375px;
}

/* ---------right sidebar  css------------ */

.right_sidebar{
    width: 300px;
    height: 800px;
    float: left;
    margin-left: 30px;
     box-shadow: 0px 5px 5px gray;
    }

.right_coll_1{
    width: 100%;
    height: 430px;
    background: white;
    overflow: hidden;
    box-shadow: 0px 5px 5px gray;
}

.right_coll_Servies_1{
    width: 285px;
    height: 375px;
    margin-top: 7px;
    margin-left: 7px;
    background: linear-gradient(to left, #009ffd, #2480db, #2d62b8, #2e4595, #2a2a72);
}
.date_time{
    width: 100%;
    height: 250px;
    background: white;
    overflow: hidden;
    box-shadow: 0px 5px 5px gray;
}
.right_coll_Servies_2{
    width: 285px;
    height: 195px;
    margin-top: 7px;
    margin-left: 7px;
    background: linear-gradient(to left, #009ffd, #2480db, #2d62b8, #2e4595, #2a2a72);
}

/* footer section css */
.fotter_area{
    width: 100%;
    height: 300px;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    overflow: hidden;
    color: white;
    margin-top: 50px;
}
.footer_leftsite{
   width: 50%;
   height: 280px;
   float: left;
   margin: 20px;
}
.footer_leftsite p{
    padding: 10px;
}

.footer_rithgside{
   width: 42%;
   height: 280px;
   float: left;
   margin: 20px;
}



/* mobile responsive size max-width 419px*/

@media screen and (max-width:419px){

.header{
    width: 100%;
    height: 200px;
}

.logo img{
    margin-left: 40%;
    width: 50px;
    height: 60px;
}

.schoolname{
    margin-top: 0px;
}
.schoolname h1{
    font-weight: bold;
    font-size: 20px;
}

.schoolname h3{
    font-size: 15px;
}
.menu{
    width: 100%;}
nav ul li a{
    font-size: 12px;
    
}

.scrollling-notice{
    width: 100%;
}

.post-content{
    width: 100%;
}

.left_sidebar{
    width: 410px;
    margin-left: 5px;
   
}

.cm_coll{
    width: 100%;
}

.cm_title,.md_title,.right_text_title {
    width: 100%;
   }

.cm_Servies{
    width: 396px;
}
/*responsive for middle sidebar css codding*/
.Middle_sidebar{
    width: 410px;
    margin-left: 5px;
}
.image_slider{
    width: 396px;
}
.image_slider img{
    width: 396px;
    height: 200px;
}

}
/*mobile resposnsive device size maximum 360px*/





}
